EXPO_PUBLIC_SUPABASE_URL=https://nokuwkxosyegaexlzdsl.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5va3V3a3hvc3llZ2FleGx6ZHNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwOTY4NDksImV4cCI6MjEwMzY3Mjg0OX0.-nKh8OkaUm0nCqzMksjmNST2gwi_HtC41jUZb-rs7jo
EXPO_PUBLIC_APP_NAME=AKọ
EXPO_PUBLIC_APP_SCHEME=ako
EXPO_PUBLIC_IOS_BUNDLE_ID=com.ako.app
EXPO_PUBLIC_ANDROID_PACKAGE=com.ako.app
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_PRIVACY_POLICY_URL=
EXPO_PUBLIC_TERMS_URL=
EXPO_PUBLIC_WEB_URL=
